@import '../../styles/index.scss';

.ContainerDD3 {
  background-color: $backgroundColor;
  border-radius: 15px;
  border: 1px solid $black;
  height: 85%;
  margin: auto;
  max-width: 540px;
  min-width: 540px;
  overflow-y: scroll;
  padding: 2em;
  text-align: center;
  width: 100%;

  &.isDark {
    background-color: $dark-blue;
    border: 1px solid $white;
    color: $white;

    & .ContainerDD3__title {
      color: $white;
    }
  }

  &__title {
    color: $black;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: 41px;
    text-align: center;
  }

  &__children {
    margin: 2em 0;
    text-align: left;

    & p {
      font-weight: 400;
      font-size: 19px;
    }

    & h3 {
      font-weight: 700;
      font-size: 19px;
    }

    & .center {
      text-align: center;
    }
  }

  &__button, & button {
    background-color: $green;
    border-radius: 5px;
    border: none;
    color: $white;
    cursor: pointer;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    margin: 0 auto;
    max-width: 260px;
    padding: 0.5em;
    text-align: center;
    width: 100%;
  }

  & button:disabled {
    background-color: gray;
  }
}