.App {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: $white;
  color: $black;
  min-height: 100vh;

  &.isDark {
    background-color: $dark-blue;
    color: $white;
  }
}