.App {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: $white;
  color: $black;
  min-height: 100vh;

  &.isDark {
    background-color: $dark-blue;
    color: $white;
  }
}

.css-79ws1d-MuiModal-root {
  top: 2em !important;
}